body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea,
  select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  
  input[type="number"] {
    width: 100px;
  }
  
  input[type="submit"] {
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
footer {
    text-align: center;
    padding: 10px;
    background-color: #333; 
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  